<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



<!-- ACTIVATE JQUERY -->
<!-- ACTIVATE JQUERY -->
<!-- ACTIVATE JQUERY -->
<!-- ACTIVATE JQUERY -->
<script src="https://code.jquery.com/jquery-3.1.1.js"
integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
crossorigin="anonymous"></script>


<div class="maincontainer">
  <!-- NAV BAR 1 -->
  <%= render 'nav' %>

  <!-- MAIN PAGE -->
  <div class="mainTrips">


    <div class="results">

      <ul class="venues">
        <p>
          <strong>Title:</strong>
          <%= @trip.title %>
        </p>
      
        <!-- <p>
        <strong>User:</strong>
        <%= @trip.user_id %>
        </p> -->
        <p>
        <strong>Start time:</strong>
        <%= @trip.start_time %>
        </p>
        <p>
        <strong>End time:</strong>
        <%= @trip.end_time %>
        </p>
        <p>
        <% @trip.venues.each do |venue| %>
        <%= venue.name %><br>
        <%= venue.address %><br>
        <% end %>
        </p>
        <button onclick="myFunction()">Print this page</button>
        <!-- PRINT BUTTON# -->
        <!-- PRINT BUTTON# -->
        <!-- PRINT BUTTON# -->
        <!-- PRINT BUTTON# -->

        <!-- PRINT SCRIPT -->
        <!-- PRINT SCRIPT -->
        <!-- PRINT SCRIPT -->
        <!-- PRINT SCRIPT -->
        <script>
        function myFunction() {
        window.print();
        }
        </script>

        <%= link_to 'Edit', edit_trip_path(@trip) %> |
        <%= link_to 'Back', current_user %>


      </ul>

    </div>

    </div>

    <!-- FOOTER -->
    <%= render 'foot' %>
  </div>
