<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- ACTIVATE JQUERY -->
<!-- ACTIVATE JQUERY -->
<!-- ACTIVATE JQUERY -->
<!-- ACTIVATE JQUERY -->
<!-- <script src="https://code.jquery.com/jquery-3.1.1.js"
integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
crossorigin="anonymous"></script>
<script src="./app/assets/javascripts/effects.js"></script> -->
<body>
  <div class="mycontainer">



    <!-- NAV BAR 1 -->
    <!-- NAV BAR 1 -->
    <!-- NAV BAR 1 -->
    <!-- NAV BAR 1 -->
    <%= render 'nav' %>



    <div class="main2">
      <div class="userInfo">



        <div class="userDetails">
          <p class="userName">
            <%= @user.name %>
          </p>
          <div class="userImage">
            <%= image_tag @user.avatar.url(:medium) %>
          </div>
          <p class="userEmail">
            <strong>Email:</strong>
            <%= @user.email %>
          </p>
          <%= render 'paper' %>
          <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary first-button" %> |
          <%= link_to 'Back', root_path,class: "btn btn-primary"%>
        </div>


        <div class="tripContainer">
          <!-- <span class="mytrips">My trips</span><br> -->
          <div class="triplist">
            <% @user.trips.each do |trip| %>
            <!-- <span class="mytrips">My trips</span><br> -->
            <ul class="mytrips-listings" id='tripsBox'>
              <li><%= link_to trip.title, trip_path(trip)%>
                <%= link_to '', edit_trip_path(trip), class: "fa fa-trash", id: "trash"%>
                <%= link_to '', trip_path(trip), class: "fa fa-eye", id: "eye"%>
                <%= link_to '', edit_trip_path(trip), class: "fa fa-cog", id: "cog"%>
              </li><br>
            </ul>
            <% end %>
          </div>
          <!-- <div class="trip-button">
          <td><%= link_to 'Create New Trip', root_path, class: "user-trip btn btn-primary"%></td><br>
        </div> -->
      </div>


    </div>
  </div>
  <!-- FOOTER  -->
  <!-- FOOTER -->
  <!-- FOOTER -->
  <!-- FOOTER -->
  <%= render 'foot' %>

</div>
</body>
</html>
