<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- ACTIVATE JQUERY -->
<!-- ACTIVATE JQUERY -->
<!-- ACTIVATE JQUERY -->
<!-- ACTIVATE JQUERY -->
<!-- <script src="https://code.jquery.com/jquery-3.1.1.js"
integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
crossorigin="anonymous"></script>
<script src="./app/assets/javascripts/effects.js"></script> -->
<body>
  <div class="mycontainer">



    <!-- NAV BAR 1 -->
    <!-- NAV BAR 1 -->
    <!-- NAV BAR 1 -->
    <!-- NAV BAR 1 -->
    <%= render 'nav' %>



    <div class="main2">
      <div class="userInfo">
        <div class="userImage">
          <%= image_tag @user.avatar %>
        </div>
        <p class="userName">
          <strong>Name:</strong>
          <%= @user.name %>
        </p>

        <p class="userEmail">
          <strong>Email:</strong>
          <%= @user.email %>
        </p>

        <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %> |
        <%= link_to 'Back', users_path,class: "btn btn-primary"%>
      </div>



      <div class="userTrip">
        <div class="trip-button">
          <label class="createtrip">Create my trip</label>
        </div>

        <!-- PRINT BUTTON# -->
        <!-- PRINT BUTTON# -->
        <!-- PRINT BUTTON# -->
        <!-- PRINT BUTTON# -->
        <button onclick="myFunction()">Print this page</button>

        <!-- PRINT SCRIPT -->
        <!-- PRINT SCRIPT -->
        <!-- PRINT SCRIPT -->
        <!-- PRINT SCRIPT -->
        <script>
        function myFunction() {
          window.print();
        }
        </script>
      </div>

      <!-- FOOTER  -->
      <!-- FOOTER -->
      <!-- FOOTER -->
      <!-- FOOTER -->
      <%= render 'foot' %>

    </div>
  </body>
  </html>
