<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- ACTIVATE JQUERY -->
<!-- ACTIVATE JQUERY -->
<!-- ACTIVATE JQUERY -->
<!-- ACTIVATE JQUERY -->
<script src="https://code.jquery.com/jquery-3.1.1.js"
integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
crossorigin="anonymous"></script>
  <div class="mycontainer">



    <!-- DISPLAYS NAV BAR 1 -->
    <!-- DISPLAYS NAV BAR 1 -->
    <!-- DISPLAYS NAV BAR 1 -->
    <!-- DISPLAYS NAV BAR 1 -->
    <%= render 'nav' %>

    <!-- DISPLAYS MAIN PAGE -->
    <!-- DISPLAYS MAIN PAGE -->
    <!-- DISPLAYS MAIN PAGE -->
    <!-- DISPLAYS MAIN PAGE -->
    <div class="main">
      <div id="video-background">
        <%= video_tag "travelize.mp4", autoplay:true, width: "100%", loop: true, muted: true%>
        <div class="mainSearch">
          <%= form_tag("/list_venues", method: "post",class: "form") do %>
          <div class="where">
            <p id="locationTag">Where</p>
            <%= search_field_tag :location, '', id: 'location' , placeholder: "Destination, city, address"%>
          </div>
          <div class="what">
            <p id="interestTag">What</p>
            <%= select_tag "interest", options_for_select(["Restaurants", "Shopping", "Art", "History", "LGBTQ", "Nightlife", "Sports", "Pubs & Breweries", "Nature", "Music"]), id: 'interest', placeholder: "Categories" %>
          </div>
          <div class="searchContainer">
            <div class="searchContainer">
              <%= submit_tag("Search", :class => 'searchBtn') %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- FOOTER  -->
    <!-- FOOTER -->
    <!-- FOOTER -->
    <!-- FOOTER -->
    <%= render 'foot' %>



  </div>
