<!-- ACTIVATE JQUERY -->
<!-- ACTIVATE JQUERY -->
<!-- ACTIVATE JQUERY -->
<!-- ACTIVATE JQUERY -->
<!-- <script src="https://code.jquery.com/jquery-3.1.1.js"
integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
crossorigin="anonymous"></script> -->
  <div class="mycontainer">



    <!-- DISPLAYS NAV BAR 1 -->
    <!-- DISPLAYS NAV BAR 1 -->
    <!-- DISPLAYS NAV BAR 1 -->
    <!-- DISPLAYS NAV BAR 1 -->
    <%= render 'nav' %>

    <!-- DISPLAYS MAIN PAGE -->
    <!-- DISPLAYS MAIN PAGE -->
    <!-- DISPLAYS MAIN PAGE -->
    <!-- DISPLAYS MAIN PAGE -->
    <div class="main">
      <div id="video-background">
        <%= video_tag "travelize.mp4", autoplay:true, width: "100%", loop: true, muted: true%>
        <div class="mainSearch">
          <%= form_tag("/list_venues", method: "post",class: "form") do %>
          <div class="where">
            <p id="locationTag">Where</p>
            <%= search_field_tag :location, '', id: 'location' , placeholder: "Destination, city, address"%>
          </div>
          <div class="what">
            <p id="interestTag">What</p>
            <%= select_tag "interest", options_for_select(["Restaurants", "Shopping", "Art", "History", "LGBTQ", "Nightlife", "Sports", "Pubs & Breweries", "Nature", "Music"]), id: 'interest', placeholder: "Categories" %>
          </div>
          <div class="searchContainer">
            <div class="searchContainer">
              <%= submit_tag("Search", :class => 'searchBtn') %>
          
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="explore">
      <ul>
        <li><img src="http://travelhdwallpapers.com/wp-content/uploads/2014/04/Marina-Bay-Sands-3.jpg" alt=""><h2>Featured cities</h2><p>Get lost and discover what it's like to live like a local</p></li>
        <li><img src="https://storage.googleapis.com/imgfave/image_cache/1374550832924391.jpg" alt=""><h2>Suggested itineraries</h2><p>Curated recommendations by expert travelers</p></li>
      </ul>
    </div>



    <!-- FOOTER  -->
    <!-- FOOTER -->
    <!-- FOOTER -->
    <!-- FOOTER -->
    <%= render 'foot' %>



  </div>
