<!-- NAV BAR 1 -->
<!-- NAV BAR 1 -->
<!-- NAV BAR 1 -->
<!-- NAV BAR 1 -->
<div class="headerRow">
  <div class="words">
    <% if current_user %>
    Hello,<%= current_user.name %> <%= link_to "Logout", '/logout'%>
    <% else %>
    <%= link_to 'Login', '/login' %>  <%= link_to 'Signup', '/signup' %>
    <% end %>

    <%= yield %>
    <!-- <a><%= link_to 'Login', login_path %></a>
    <a><%= link_to 'Register', login_path %></a> -->
  </div>
</div>


<!-- NAV BAR 2 -->
<!-- NAV BAR 2 -->
<!-- NAV BAR 2 -->
<!-- NAV BAR 2 -->
<div class="navTop">
  <div class="words2">
    <%= link_to 'About', root_path %>
    <%= link_to 'Trips', root_path %>
    <%= link_to 'Contact', root_path %>
    <!-- <%= link_to 'Contact', root_path %> -->
  </div>
</div>
