<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Travelize</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.js"
  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
  crossorigin="anonymous"></script>
</head>
<body>

  <div class="maincontainer">


    <div class="headerRow">
      <div class="words">
        <a><%= link_to 'Login', login_path, class: "waves-effect waves-green btn-flat"%></a>
        <a><%= link_to 'Register', login_path, class: "waves-effect waves-green btn-flat"%></a>
      </div>
    </div>


    <div class="navTop">
      <div class="words2">
        <!-- <div><a  id="logo"href="" src="./assets/img/Travelize_Logo.png"></a></div> -->
        <a class=".btn-5" href="">About</a>
        <a class=".btn-5" href="">My Trips</a>
        <!-- <a class=".btn-5" href="">Shop</a> -->
        <a class=".btn-5" href="">Story</a>
        <a class=".btn-5" href="">Contact</a>
      </div>
    </div>



<div class="maindiv">


    <div class="results">
    <% unless @response.blank? %>
    <% @response.businesses.each do |bus| %>
      <ul class="venues">
        <input type="checkbox" id="venue-check">
        <li class="image"><%= image_tag bus.image_url %></li>
        <li class="bus-name"><%= bus.name %></li><br>
        <li><%= simple_format bus.location.display_address.join("\n") %></li>
        <li class="phone"><%= bus.display_phone %></li>
        <li><p>Rating</p><%= bus.rating %></li>

      </ul>
    <% end %>
    <% end %>

    </div>
    <div class="trip-button">
        <label class="createtrip">Create my trip</label>
    </div>

</div>
</div>


  </div>
  <script src="effects.js"></script>
</body>
</html>
