</div>
<% unless @response.blank? %>
<% @response.businesses.each do |bus| %>
<ul class="">
  <input type="checkbox">
  <li><%= bus.name %></li>
  <li><%= bus.rating %></li>
  <li><%= bus.display_phone %></li>
  <li><%= image_tag bus.image_url %></li>
  <li><%= simple_format bus.location.display_address.join("\n") %></li>

</ul>
<% end %>
<% end %>
